    /** 구역 정의 */

    .boder {
        background-color: #0f0;
        margin: auto;
        padding-top: 140px;
    }

    /** 배너 구역 */
    .boder .banner1 {
        background-color: white;
        width: auto;
    }

    .boder .banner2 {
        background-color: white;
        width: auto;
    }

    /** 배너1 효과 */
    .banner1_1 {
        background-image: url("홈 _ COFFEE BEAN KOREA_files/메인상단배너_1.jpg");
        height: 540px;
        width: 1900px;
        margin: auto;
    }

    .banner1_1 a {
        display: block;
        height: 540px;
        width: 1900px;
    }

    /** 배너2 효과 */
    .banner1_2 {
        background-image: url("홈 _ COFFEE BEAN KOREA_files/메인_222.jpg");
        height: 400px;
        width: 1900px;
        margin: auto;
    }

    .banner1_2 a {
        display: block;
        height: 400px;
        width: auto;
    }

    /** MD'S PICK 효과 */

    .md_pick {
        height: 700px;
        width: auto;

        background: white;
    }

    .md_pick h2 {
        display: block;
        text-align: center;
        color: rgb(207, 102, 104);
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .md_pick .md_pick_1 {
        height: 300px;
        width: 1200px;
        margin: auto;
    }

    .md_pick .md_pick_1 .md_pick_1_box {
        width: auto;
        height: 500px;
        /*background-color: pink;*/
    }

    .md_pick .md_pick_1 .md_pick_1_box a {
        display: block;
        width: auto;
        height: 500px;
    }

    /** 텍스트 */
    .md_pick .md_pick_1 div {
        margin: auto;
        text-align: center;
        font-size: 17px;
        line-height: 30px;
    }

    .md_pick .md_pick_1 .head {
        font-weight: bold;
        margin-top: 20px;
    }

    .md_pick .md_pick_1 .price {
        color: rgb(207, 102, 104);
    }

    /** 품절 박스 */
    .md_pick .md_pick_1 .sold_out {
        border: 1px solid rgb(207, 102, 104);
        width: 55px;
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        margin-top: 10px;
        color: rgb(207, 102, 104);
    }

    /** What's new 효과 */

    .what_new {
        height: 760px;
        width: auto;

        background: white;
    }

    .what_new h2 {
        display: block;
        text-align: center;
        color: rgb(207, 102, 104);
        padding-bottom: 40px;
    }

    .what_new .what_new_1 {
        height: 600px;
        width: 1200px;
        margin: auto;
        /*background-color: pink;*/
    }

    .what_new .what_new_1 .what_new_1_box {
        height: 600px;
        width: 380px;
        margin: 0 10px;
        /*background-color: black;*/
    }

    .what_new .what_new_1 .what_new_1_box a {
        display: block;
        width: auto;
        height: 600px;
    }

    /** text 효과 */
    .what_new .what_new_1 .md_pick_1_title {
        color: rgb(207, 102, 104);
        display: block;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    }